@import "tailwindcss";
.register-container {
  min-height: 100vh;
  background-color: #f5f7fa; /* same as login */
}

.card {
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  background: #fff;
}

h3 {
  font-weight: 600;
}
