@use '@angular/material' as mat;

$eduflow-primary: mat.define-palette(mat.$indigo-palette, 900, 800, 700);
$eduflow-accent: mat.define-palette(mat.$pink-palette, 500, 400, 300);
$eduflow-warn: mat.define-palette(mat.$red-palette);

$eduflow-theme: mat.define-light-theme((
  color: (
    primary: $eduflow-primary,
    accent: $eduflow-accent,
    warn: $eduflow-warn,
  ),
));

@include mat.all-component-themes($eduflow-theme);
